.header
  .container
    .jumbotron.text-center
      %h1.display-3
      %h3.lead
        Search for Events in
      %h2.text-center UK
      .container
        .col-md-offset-2.col-md-8
          .form-group
            .input-group.input-group-lg
              = text_field_tag :search,
              nil,
              placeholder: "Search by a category",
              class: "form-control"
              .input-group-btn
                = link_to "#", class: "btn btn-warning" do
                  .glyphicon.glyphicon-search
        = render('layouts/categories_menu')
      %i.glyphicon.glyphicon-chevron-down

.container.main-listings
  %h1.text-center
    Plans For This Week
  - @events.each do |event|
    .col-md-4.event-box
      = link_to "More Details", event_path(id: event.id, category: "this week"),
          class: "btn-lg btn-more"
      .event-card.well.well-sm
        = image_tag(event.image_url,width: "100%",height: "250px")
        .panel-body
          %h3
            %b= event.title
          .row
            %small
              %i.fa.fa-calendar
              = event.starting_at
          .row
            %small
              %i.fa.fa-map-marker
              = event.name_of_venue
        .footer
          .col-xs-12.pull-right.text-right
            = link_to "#" do
              = fa_stacked_icon "bookmark", base: "circle"
            = link_to "#" do
              = fa_stacked_icon "share-alt", base: "circle"
.in-pictures
  %h1.text-light.text-center
    Checkout Previous Events In Snaps & Clips
  .row
    .col-sm-6
      = link_to event_pictures_path do
        .row.text-center.camera
          %i
            = fa_stacked_icon "camera", base: "circle", class: "fa-3x"
        .letter
          = image_tag 'http://placehold.it/500x300', width: '100%', height: '300px'
    .col-sm-6
      = link_to event_video_path do
        .row.text-center.camera
          %i
            = fa_stacked_icon "video-camera", base: "circle", class: "fa-3x"
        .letter
          = image_tag 'http://placehold.it/500x300', width: '100%', height: '300px'
