= @category.upcase
.col-md-offset-1
  %nav.navbar.navbar-light
    %div.nav.navbar-nav
      = link_to events_type_path(category: :arts),
              class:"nav-item nav-link btn #{active(events_type_path(category: :arts))}" do
        %small
          .glyphicon.glyphicon-picture
          Arts
      = link_to events_type_path(category: :music),
              class:"nav-item nav-link btn #{active(events_type_path(category: :music))}" do
        %small
          .glyphicon.glyphicon-music
          Music
      = link_to events_type_path(category: :movies), remote: true,
              class:"nav-item nav-link btn #{active(events_type_path(category: :movies))}" do
        %small
          .glyphicon.glyphicon-film
          Movies
      = link_to events_type_path(category: :nightlife), remote: true,
              class:"nav-item nav-link btn #{active(events_type_path(category: :nightlife))}" do
        %small
          .glyphicon.glyphicon-play-circle
          Nightlife
      = link_to events_type_path(category: "food & drinks"), remote: true,
              class:"nav-item nav-link btn #{active(events_type_path(category: 'food & drinks'))}" do
        %small
          .glyphicon.glyphicon-glass
          Food/Drinks
      = link_to events_type_path(category: :festivals), remote: true,
              class:"nav-item nav-link btn #{active(events_type_path(category: :festivals))}" do
        %small
          .glyphicon.glyphicon-sound-stereo
          Festivals
      = link_to events_type_path(category: :fitness), remote: true,
              class:"nav-item nav-link btn #{active(events_type_path(category: :fitness))}" do
        %small
          .glyphicon.glyphicon-heart
          Fitness
      = link_to events_type_path(category: :gaming), remote: true,
              class:"nav-item nav-link btn #{active(events_type_path(category: :gaming))}" do
        %small
          .glyphicon.glyphicon-queen
          Gaming