- if @events
  - @events.each do |event|
    .col-sm-6.event-box
      = link_to "More Details", event_path(id: event.id, category: @category),
              class: "btn-lg btn-more"
      .event-card.well.well-sm
        = image_tag(event.image_url,width: "100%",height: "250px")
        .panel-body
          %h3
            %b= event.title
          %p
            %i.glyphicon.glyphicon-calendar
            = event.starting_at
          %p
            %i.glyphicon.glyphicon-map-marker
            = event.name_of_venue
        .footer
          .col-xs-6.pull-right.text-right
            = link_to "#" do
              = fa_stacked_icon "bookmark", base: "circle"
            = link_to "#" do
              = fa_stacked_icon "share-alt", base: "circle"
- else
  %p.text-center Nothing Found