$('#events').html("#{escape_javascript(render 'events/events_list')}");

$('#previous').html("#{escape_javascript(render 'events/previous')}");

$('#next').html("#{escape_javascript(render 'events/next')}");

$('#category').html("#{escape_javascript(render 'events/categories')}");