.main-layout
  .container-fluid
    %div.loader-bg
      = image_tag '500.gif', class: "loader"
    %h1#category
      = render('layouts/categories_menu')
    .col-md-10
      .row#events
        = render('events/events_list')
      .row
        .footer
          .row.pages
            .col-xs-6.text-right#previous
              = render('events/previous')
            .col-xs-6.text-left#next
              = render('events/next')
    .col-md-2
