- set_meta_tags keywords: @event.keywords
.main-layout
  .container-fluid
    %h1
      = @category.upcase
      = render('layouts/categories_menu')
    .col-md-10
      %h1
        = title @event.title
      .row
        .col-sm-8
          #carousel.carousel.slide{"data-ride" => "carousel"}
            .carousel-inner
              .item.active
                = image_tag(@event.image_url, width: "100%", height: "300px")
                .carousel-caption
                  = @event.summary
              - @event.image_urls.each do |image|
                .item
                  = image_tag(image ,width: "100%",height: "300px")
                  .carousel-caption
                    = @event.summary
            %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel", :role => "button"}
              %span.glyphicon.glyphicon-chevron-left
            %a.right.carousel-control{"data-slide" => "next", :href => "#carousel", :role => "button"}
              %span.glyphicon.glyphicon-chevron-right

          %h3.page-header
          .row.well.well-lg
            %span
              %i.glyphicon.glyphicon-time
              %small #{ @event.starting_at } - #{ @event.ending_at }
            %br
            - @event.prices.each_pair do |description, price|
              %small.col-sm-6
                %b.text-info #{description.titlecase}
                \=> #{price}
            .row
              - unless @event.artists.blank?
                %h5
                  Artists/Guests
                = @event.artists.upcase
          .footer
            - if @event.ticket
              = link_to @event.ticket,target: "_blank",
              class: "btn btn-large btn-success btn-block" do
                .glyphicon.glyphicon-tag
                  Get Your Tickets
          %br
          .row.well.well-lg
            %h3.page-header
              Details
            = @event.description
          %h3.page-header Enquiries
          .row.enquiries.text-center
            .col-sm-3
              %p
                = fa_stacked_icon "user", base: "circle", class: "fa-2x"
              #{@event.contact['name']}
            .col-sm-6
              %p
                = fa_stacked_icon "envelope", base: "circle", class: "fa-2x"
              #{@event.contact['email']}
            .col-sm-3
              %p
                = fa_stacked_icon "phone", base: "circle", class: "fa-2x"
              #{@event.contact['tel']}
        .col-sm-4
          #mapid{ data:{ latitude: @event.venue['latitude'],
          longitude: @event.venue['longitude'] } }
          %br
          %h4.page-header Place
          = @event.complete_venue
    .col-md-2