.main-layout
  %h1.text-center
    Events In Pictures
  .row
    .col-sm-4
      = link_to event_pictures_path do
        .letter
          = image_tag 'http://placehold.it/500x300', width: '100%', height: '200px'
          .footer
            %h6 Summer Jams With Dj Flex
            %i.fa.fa-user
            Friday Events
            %p
              Every Friday, London
    .col-sm-4
      = link_to event_pictures_path do
        .row.text-center.camera
        .letter
          = image_tag 'http://placehold.it/500x300', width: '100%', height: '200px'
    .col-sm-4
      = link_to event_pictures_path do
        .letter
          = image_tag 'http://placehold.it/500x300', width: '100%', height: '200px'