// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-more {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 10;
  background-color: transparentize(#ff9e0e, 0.3);
  color: #ffffff;
  display: none;

  &hover {
    color: #ffffff !important;
  }
}

.event-card {
  height: 30em;
  .glyphicon {
    color: #ffb325;
    font-size: small;
  }

  h3, p {
    text-overflow: ellipsis;
    white-space:   nowrap;
    overflow:      hidden;
  }

  .footer {
    padding-bottom: 1em;
    .fa-stack {
      color: #ffb325;
    }
    .fa-share-alt, .fa-bookmark {
      color: #ffffff;
    }
  }
}

.event-box {
  &:hover {
    .btn-more {
      display: block;
    }
  }
}

.enquiries {
  font-size: medium;
  .fa-user, .fa-envelope, .fa-phone {
    color: #ffffff;
  }

  .fa-stack {
    color: #ffb325;
  }
}

#mapid {
  height: 400px;
}

#carousel {
  height: 600px;

  img {
    height: 600px;
  }

  .carousel-caption {
    color: #ffb325;
    font-weight: 900;
    background-color: transparentize(#000000, 0.5);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
  }
}

.pages {
  .fa-chevron-left, .fa-chevron-right {
    color: #ffb325;
  }

  .fa-stack {
    color: #ffffff;
  }

  a {
    color: #9b9b9b;
  }
}

.loader-bg {
  z-index: 10;
  position:         fixed;
  top:              0;
  right:            0;
  bottom:           0;
  left:             0;
  background-color: transparentize(#2E2F30, 0.5);

  .loader {
    margin: 30% 40%;
  }
}