@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);

nav.navbar-default {
  border-bottom: 3px solid #ffb325;
}
.header {
  margin-top: 0;
  height: 600px;
  background: linear-gradient(to top, rgba(255, 180, 43, 0.3) 0%, rgba(26, 26, 26, 0.85) 100%), url('nightlife.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-brand {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 900;
  color: #ffb325;
}
.jumbotron {
  width: 100%;
  margin: 7em auto;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  background-color: rgba(0, 0, 0, 0.51);
  color: #ffb325;

  h1, h2{
    color: #f2f2f2;
  }

  .glyphicon-chevron-down{
    color: #e7e7e7;
  }
  
  a:hover {
    color: #ffb325;
    .glyphicon {
      color: #f7f7f7;
    }
  }
}

a.nav-item {
  color: #f7f7f7;
  font-weight: 400;
  font-size: medium;
  .glyphicon {
    color: #ffb325;
  }
}

.category-nav {
  width: 100%;
  margin-left: 5em;
}

.main-listings, .in-pictures {
  margin-top: 2em;
  min-height: 30em;

  h1 {
    font-size: 3em;
    font-weight: 500;
  }

  .fa-stack {
    color: rgba(24, 24, 24, 0.5);
  }
}

.display-3 {
  height: 1em;
}

.letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin:     26px auto 0;
  max-width:  550px;
  min-height: 300px;
  padding:    24px;
  position:   relative;
  width:      98%;
}

.camera {
  position: absolute;
  top:      40%;
  z-index:  99;
  left:     45%;
}

.fa-camera, .fa-video-camera {
  color: #ffffff;
}

.letter:before, .letter:after {
  content:  "";
  height:   98%;
  position: absolute;
  width:    100%;
  z-index:  -1;
}

.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left:       -5px;
  top:        4px;
  transform:  rotate(-2.5deg);
}

.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right:      -3px;
  top:        1px;
  transform:  rotate(1.4deg);
}