@import url(https://fonts.googleapis.com/css?family=Advent+Pro);

body {
  background-color: #e7e7e7;
  font-family:      'Advent Pro', sans-serif;
  letter-spacing:   2px;
  font-size:        medium;
  line-height:      2em;
}

.main-layout {
  margin-top: 4em;
  min-height: 40em;
}

.text-brand-color {
  color: #ff9e0e;
}

a {
  text-decoration: none;
  color:           #525252;
}

a:hover {
  text-decoration: none;
  color: #ff9e0e;
}

.border-p {
  border: 1px solid black;
}

.bg-footer {
  background-color: #464646;
  min-height:       15em;
  color:            #ffffff;
  padding:          2em;
  margin-top:       3em;
  font-size: medium;

  .fa-facebook {
    color: #3b5998;
  }

  .fa-twitter {
    color: #55acee;
  }

  .fa-instagram {
    color: #125688;
  }

  ul {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }

  h3 {
    color:         #ff9e0e;
    margin-bottom: 1em;
  }
  h6 {
    color: #ff9e0e;
  }
}

.cpy-note {
  padding:          1em;
  color:            #ff9e0e;
  background-color: rgba(45, 45, 45, 0.85);

  .cpy {
    color: #ffffff;
  }
}

.next_page, .previous_page {
  display: none;
}

