!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = display_meta_tags site: "beatLyfie"
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-brand
          beatLyfie
        .navbar-header.navbar-right
          = button_tag class: "navbar-toggle collapsed",
            data: { toggle: "collapse", target:"#listings" },
            "aria-expanded" => false do
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .collapse.navbar-collapse#listings
            %ul.nav.navbar-nav
              %li{class: active(root_path)}
                = link_to "Home", root_path
              %li{class: active(event_pictures_path)}
                = link_to "Events In Pictures", event_pictures_path
              %li{class: active(event_video_path)}
                = link_to "Videos", event_video_path
              %li{class: active("#")}
                = link_to "login", "#"

    = yield

    .footer.bg-footer
      .container
        .row
          .col-sm-4
            %h3
              Social Media
            %ul
              %li
                = fa_stacked_icon "facebook", base: "circle", class: "fa-1x"
                Facebook
              %li
                = fa_stacked_icon "twitter", base: "circle", class: "fa-1x"
                Twitter
              %li
                = fa_stacked_icon "instagram", base: "circle", class: "fa-1x"
                Instagram
          .col-sm-4
            %h3
              Why I do This
            %ul
              %li
                When it started
              %li
                Whats next
              %li
                Usage Policy
              %li
                Privacy concerns
          .col-sm-4
            %h3
              Join The Club
            %ul
              %li
                Get Listed
              %li
                Claim your event in Pictures & Videos
              %li
                %h3
                  Subscribe to our newsletters
                .form-group
                  .input-group.input-group-lg
                    = text_field_tag :search,
                    nil,
                    placeholder: "Add your email",
                    class: "form-control"
                    .input-group-btn
                      = link_to "#", class: "btn btn-warning" do
                        .fa.fa-send
    .cpy-note
      beatLyfie
      %span.cpy #{"&copy;".html_safe} #{Time.now.year}
